<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<form th:action="@{/books}" th:method="POST" th:object="${book}">
  <div class="mb-3 mt-3">
    <label for="title" class="form-label">Название книги:</label>
    <input type="text" th:field="*{title}" class="form-control" id="title" placeholder="Введите название" name="title">
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title name error</div>
  </div>
  <div class="mb-3 mt-3">
    <label for="author" class="form-label">Автор книги:</label>
    <input type="text" th:field="*{author}" class="form-control" id="author" placeholder="Введите автора" name="author">
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author name error</div>
  </div>
  <div class="mb-3">
    <label for="year" class="form-label">Год издания:</label>
    <input type="text" th:field="*{year}" class="form-control" id="year" placeholder="Год издания" name="year">
    <div style="color:red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
  </div>

  <button type="submit" class="btn btn-primary" value="Создать">Создать</button>
</form>

</body>
</html>