<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Person</title>
</head>
<body>
<form th:action="@{/people}" th:method="POST" th:object="${person}">
  <div class="mb-3 mt-3">
    <label for="fullName" class="form-label">Полное имя:</label>
    <input type="text" th:field="*{fullName}" class="form-control" id="fullName" placeholder="Введите ФИО" name="fullName">
    <div style="color:red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Full name error</div>
  </div>
  <div class="mb-3">
    <label for="yearOfBirth" class="form-label">Год рождения:</label>
    <input type="text" th:field="*{yearOfBirth}" class="form-control" id="yearOfBirth" placeholder="Год рождения" name="yearOfBirth">
    <div style="color:red" th:if="${#fields.hasErrors('yearOfBirth')}" th:errors="*{yearOfBirth}">Year of birth error</div>
  </div>

  <button type="submit" class="btn btn-primary" value="Создать">Создать</button>
</form>

</body>
</html>